@import "tailwindcss";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    /* ini fontnya */
    --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;

    /* ini color pallete sesuai sama yang di Figma*/
    --color-primary: #f3904f;
    --color-secondary: #ffc3a0;
    --color-accent: #3b4371;
    --color-success: #047857;
    --color-success-bg: #ecfdf5;
    --color-warning: #f43f5e;
    --color-warning-bg: #fff1f2;

    /* override color gray punya kita sendiri sesuai sama Figma */
    --color-gray-200: #eeeeee;
    --color-gray-400: #bdbdbd;
    --color-gray-600: #757575;
    --color-gray-800: #424242;

    /* ini size font yang dipake sesuai yang di Figma */
    --text-small: 13px;
    --text-normal: 16px;
    --text-headline-6: 16px;
    --text-headline-5: 20px;
    --text-headline-4: 24px;
    --text-headline-3: 28px;
    --text-headline-2: 32px;
    --text-headline-1: 40px;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
